#img-content-column {
	max-width: 75%;
	background-color: #272525;
	border-right: .1rem solid #464646;
}

#full-image-container {
	width:  100%;
	height: min-content;
}

#full-image-wrapper {
	margin-top: 3rem;
	margin-bottom: 3rem;
	width: 50rem;
	user-select: none;
}

#full-image-wrapper > #full-image {
	display: block;
	width: 100%;
	height: auto;
	max-height: 1450px;
	object-fit: cover;
	margin-bottom: 0;
	padding: .3rem;
	background-color: #202020;
}

#post-description {
	width: 100%;
	padding-top: .8rem;
	border-top: .1rem solid #464646;
	color: #ece5da;
}

#img-interact-container {
	width: 5.8rem;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	user-select: none;
}

#img-interact-container #like-inline {
	width: 2.8rem !important;
}

#img-interact-container #like-inline.with-no-edit {
	width: 3rem !important;
}

#img-interact-container .img-interact {
	fill: #ffffff;
	cursor: pointer;
	width: 1.8rem;
	height: auto;
}

#img-interact-container #edit-inline {
	width: 1.8rem;
	align-items: center;
}

#like-inline > #like-shape:hover {
	animation: likeHover .2s linear;
	fill: #c72121;
    transition: all 0.2s ease;
}

#like-inline > #like-shape.liked {
    fill: #c72121;
}

#like-inline > #like-shape.liked:hover {
	animation: none;
}

#img-interact-container #edit-shape:hover {
	animation: standardHover .2s linear;
	fill: #eb9d0c;
}

#like-inline > #like-counter {
	font-weight: bolder;
}

#author-row {
	width: 10%;
	min-width: min-content;
	font-size: 1.2em;
}

#author-row > #author-intro {
	font-style: italic;
	padding-right: 1rem;
}

#author-row > #author > a {
	text-decoration: none;
	color: inherit;
	cursor: pointer;
	font-weight: bolder;
	transition: all .2s ease;
}

#author-row > #author > a:hover {
	color: #eb9d0c;
}

#description-and-tags {
	margin-top: 1.2rem;
	margin-bottom: 1.2rem;
}

#img-description-wrapper {
	max-width: 100%;
}

#img-description-wrapper > #img-description {
	font-size: 1.05em;
	display: inline-block;
	word-break: break-word;
}

#tag-list-group {
	padding-top: .5rem;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bolder;
	font-style: italic;
	user-select: none;
}

#tag-list-group > [class*="tag-item"] {
	background-color: #1d1b1b;
	color: #f0f0f0;
	margin-right: .15rem;
	margin-left: .15rem;
	margin-bottom: .15rem;
	border-radius: .8rem !important;
	padding: 0.25rem 0 !important;
	transition: all .2s ease;
}

#tag-list-group > [class*="tag-item"] > a {
	text-decoration: none;
	color: inherit;
	padding: 0 1rem;
	cursor: pointer;
}

#tag-list-group > [class*="tag-item"]:hover {
	background-color: #353131;
	color: #fff2e6;
}

/* comment section */

#comments-section {
	min-height: 50vh;
	padding-top: 5rem;
	border-top: .1rem solid #464646;
	background-color: #313131;
}

#comment-form-group {
	border-top: .1rem solid #464646;
	padding-top: .5rem;
	margin-bottom: 1.5rem;
}

#comment-form {
	color: inherit;
	max-width: 60%;
	height: 6rem;
	border-radius: .6rem !important;
	border-color: #e7e5e5;
	background-color:#242424;
	resize: none !important;
}

#comment-form:focus {
	border-color: #e29911; 
}

#comments-title {
	padding-bottom: .5rem;
	font-family: 'Luminari', sans-serif;
	font-weight: lighter;
}

.comment-user-image-wrapper {
	margin-right: .5rem;
}

.comment-user-image-wrapper > .comment-user-image {
	width: 2.3rem;
	height: auto;
	fill: #ffffff;
	user-select: none;
}

#comments-column {
	padding-top: 2rem;
	padding-bottom: 2rem;
}

[class*="comment-wrapper"] {
	margin-top: .5rem;
	margin-bottom: .5rem;
}

[class*="comment-wrapper"] > .card-container {
	width: 60%;
}

[class*="comment-wrapper"] .card {
	width: 100%;
	border-radius: .6rem;
	border-color: #e7e5e5;
	min-height: 4.5rem;
	height: min-content;
}

[class*="comment-wrapper"] .comment-buttons-wrapper {
	width: 70px;
	user-select: none;
}

.comment-buttons-wrapper .comment-button {
	width: 20px;
	height: auto;
	fill: #cccccc;
	align-items: start;
	margin-left: .3rem;
	margin-top: .1rem;
	margin-right: .2rem;
	cursor: pointer;
}

.comment-buttons-wrapper .comment-like-button:hover {
	animation: likeHoverComment .2s linear;
	fill: #c72121;
}

.comment-like-button.liked {
	fill: #c72121;
}

.comment-like-button.liked:hover {
	animation: none;
}

.comment-buttons-wrapper .comment-edit-button:hover {
	animation: editHoverComment .2s linear;
	fill: #eb9d0c;
}

.comment-buttons-wrapper .comment-like-counter {
	padding-top: .1rem;
	font-size: 0.85em;
	font-weight: bold;
}

#comment-form[readonly] {
    background-color: #3f3a3a;
    cursor: pointer;
}

.card > .card-body {
	padding-top: .5rem;
	border-radius: .6rem;
	border-width: .05rem;
	border-color: inherit;
}

.card .card-title a {
	font-weight: bolder;
	font-style: italic;
	text-decoration: none;
	color: inherit;
	font-size: 1.1em;
	cursor: pointer;
	user-select: none;
	width: min-content;
	transition: all .2s ease;
}

.card .card-title a:hover {
	color: #e29911; 
}

/* Related Images */

#related {
	max-width: 25%;
	min-height: 120vh;
	background-color: #2b2a2a;
}

#related-title-wrapper {
	margin-top: 1rem;
	margin-bottom: 1.2rem;
}

#related-title-wrapper > #related-title {
	font-family: 'Luminari', sans-serif;
}

#related-more-by-wrapper {
	margin-bottom: 1.2rem;
}

#related-more-by-wrapper > #more-by-title {
	color: inherit;
	text-decoration: none;
	font-family: 'Luminari', sans-serif;
	font-size: 1.3em;
	font-weight: bolder;
	cursor: pointer;
}

#related-more-by-wrapper > #more-by-title:hover {
	text-decoration: underline;
}

.related-img-container {
	user-select: none;
	position: relative;
	width: 7rem;
	height: 7rem;
}

.related-img-container:hover {
	background-color: #0000007c;
}

.related-img-container .related-img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border: .1rem #777777 solid;
}

.related-img-container > .related-img-dark-transparent-layer {
	z-index: 1;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	height: 100%;
	width: 100%;
	visibility: hidden;
	background-color: #00000028;
}

.related-img-container:hover .related-img-dark-transparent-layer {
	animation: fadeIn .2s linear;
	visibility: visible;
}

/* Related - OffCanvas */

#offcanvas-related-button-row {
	height: 3rem;
}

#offcanvas-related-button-row > #offcanvas-related-button {
    margin-top: .5rem;
    border: 1px #5f5f5f solid;
    border-radius: .4rem;
    font-weight: lighter;
	font-family: 'Luminari', sans-serif;
    width: min-content;
	background-color: #1b1b1b;
    color: #f0eded;
    padding-bottom: .1rem;
}

#offcanvas-related-button-row > #offcanvas-related-button:hover {
	background-color: #444444;
	color: #ffffff;
}

#offcanvas-related-button-row > #offcanvas-related-button:active {
	background-color: #2e2d2d;
	color: #b1b1b1;
}

.offcanvas.offcanvas-end {
	overflow: scroll !important;
}

.offcanvas.offcanvas-end .offcanvas-body {
	min-height: 40rem;
	
}

/* Categories badge */

.categories-intro {
    color: #e6e6e6;
    font-size: 0.9rem;
}

.categories-list {
    display: flex;
    flex-wrap: wrap;
}

.category-badge {
    background-color: var(--bs-orange);
    color: white;
    padding: 0.25rem 0;
    border-radius: 1rem;
    font-size: 0.9rem;
	font-weight: 600;
	user-select: none;
    transition: background-color 0.2s ease;
}

.category-badge:hover {
    background-color: #c25e0c;
}

.category-badge > a {
	text-decoration: none;
	color: inherit;
	padding: 0 0.75rem;
}

.category-badge > a:hover {
	cursor: pointer;
}

#edit-image-button:disabled, #edit-image-button:disabled:hover, #edit-image-button:disabled:active {
    background-color: #a8a8a8 !important;
    border-color: #a8a8a8 !important;
    color: #f0f0f0 !important;
    cursor: not-allowed !important;
    pointer-events: auto !important;
}

/* User Post Media Queries */

@media only screen and (max-width: 1650px) {
	.related-img-container {
		height: 6rem;
		width: 6rem;
	}
}

@media only screen and (max-width: 1450px) {
	.related-img-container {
		height: 5rem;
		width: 5rem;
	}
}

@media only screen and (max-width: 1100px) {
	#author-row {
		width: 15%;
	}
}

@media only screen and (min-width: 1391px) {
	#offcanvas-related-button-row {
		display: none !important;
	}
	.offcanvas.offcanvas-end {
		display: none !important;
	}
}

@media only screen and (max-width: 1390px) {
	#related {
		display: none !important;
	}
	#full-image-wrapper {
		margin-top: 0;
	}
	#img-content-column {
		max-width: 100%;
		border-right: none;
	}
}

@media only screen and (max-width: 1100px) {
	#full-image-wrapper {
		width: 40rem;
	}
	#img-interact-container {
		width: 5.8rem;
	}
}

@media only screen and (max-width: 820px) {
	#full-image-wrapper {
		width: 80vw;
	}
}

@media only screen and (max-width: 800px) {
	#img-interact-container {
		width: 5.5rem;
	}
	#comments-section > #comments-title-container #comment-form-group, 
	#comments-section > .d-flex.flex-column .comment-wrapper.d-flex.flex-row {
		width: 130%;
	}

}

@media only screen and (max-width: 620px) {
	#title-and-buttons {
		flex-direction: column !important;
		align-items: flex-start !important;
	}

	#img-interact-container {
		position: absolute;
		bottom: 2.5rem;
		right: 0.8rem;
		padding: 0.5rem;
		z-index: 1;
		width: 5.8rem;
	}

	#img-interact-container > #like-inline {
		width: 2.2rem !important;
	}

	#img-interact-container > #like-inline.with-no-edit {
		width: 2.5rem !important;
	}

	#title-and-buttons {
		position: relative;
	}

	#title-art {
		width: 100%;
		font-size: 1.3rem;
		padding-right: 0.5rem;
		padding-bottom: 0.5rem;
	}

	#img-description-wrapper > #img-description {
		font-size: 0.9em;
	}
	#img-interact-container .img-interact {
		width: 1.4rem !important;
		height: auto;
	}

	#like-inline > #like-counter {
		font-size: 0.85em;
		color: white;
	}

	#tag-list-group > [class*="tag-item"] {
		font-size: small;
	}
	#img-description-wrapper > #img-description {
		font-size: 0.9em;
	}
}

@media only screen and (max-width: 500px) {
	#comments-section > #comments-title-container #comment-form-group > #comment-form {
		height: 12rem;
	}
}

@media only screen and (max-width: 290px) {
	.related-img-container {
		height: 4rem;
		width: 4rem;
	}
	#img-interact-container {
		bottom: 3.2rem;
	}
	#comments-section > #comments-title-container #comment-form-group > #comment-form {
		height: 15rem;
	}
}

@media screen and (min-width: 1390px) {
    #comments-section {
        height: 100%; /* Fill the parent container */
    }
}